<title>Colab learn - Prijava</title>

<form
  [formGroup]="loginForm"
  (submit)="loginForm.valid && submit($event)"
  class="mt-5 mx-5 px-5 d-flex flex-column justify-content-between"
>
  <span class="h5">Prijava</span>
  <label class="d-flex justify-content-start align-items-center mt-3">
    <span class="mr-3" style="width: 100px;">Korisničko ime:</span>
    <input type="text" formControlName="username" class="form-control" />
  </label>

  <label class="d-flex justify-content-start align-items-center">
    <span class="mr-3" style="width: 100px;">Lozinka:</span>
    <input type="password" formControlName="password" class="form-control" />
  </label>

  <button class="btn btn-primary" type="submit">Prijavi se</button>
</form>
