<title>Colab learn - Pretraga</title>
<div>
  <div class="mr-3 mb-3">Rezultati pretrage:</div>
  <div *ngIf="posts.length > 0; else noPosts">
    <div *ngFor="let post of posts" class="d-flex flex-column mb-2 border p-2">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column flex-grow-1">
          <div class="d-flex h4 justify-content-between">
            <span class="pointer" [routerLink]="['/post', post.id]">{{
              post.name
            }}</span>
          </div>
        </div>

        <div class="d-flex flex-column">
          <div class="h6">Autor: {{ post.user.fullName }}</div>
          <div class="h-100 d-flex align-items-center h6">
            <span>Kreirano: {{ post.date | date: "dd/MM/yyyy HH:mm" }}</span>
          </div>
        </div>
      </div>
      <div
        class="d-flex justify-content-between mt-2"
        *ngIf="post.tags && post.tags.length > 0"
      >
        <div class="d-flex">
          <h5>
            <span
              [routerLink]="['/search', tag]"
              class="badge rounded-0 mr-2 pointer"
              *ngFor="let tag of post.tags; let f = first"
              [class.badge-secondary]="f"
              [class.badge-primary]="!f"
              >{{ tag }}</span
            >
          </h5>
        </div>
        <ng-container *ngIf="user$ | async as user">
          <div
            *ngIf="user.id == post.user.id || hasPermission(user)"
            class="text-danger pointer"
            (click)="remove(post.id)"
          >
            <i class="fa fa-times h5"></i>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <ng-template #noPosts>
    <div>Nema rezultata.</div>
  </ng-template>
</div>
