<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Colab learn</a>
      <form class="form-inline" (submit)="search(input.value)">
        <input
          id="searchInput"
          #input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Pretraga"
          aria-label="Pretraga"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Traži
        </button>
      </form>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow" *ngIf="!(user$ | async)">
          <!-- <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']">Prijava</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/register']"
              >Registracija</a
            >
          </li> -->
          <li class="nav-item">
            <a class="nav-link text-dark" href="/api/users/microsoft-auth">
              <img
                src="https://sip.elfak.ni.ac.rs/assets/template/landing/img/logo.png"
                width="60"
            /></a>
          </li>
        </ul>

        <ul class="navbar-nav flex-grow" *ngIf="user$ | async as user">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/user', user.id]">{{
              user.username
            }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
