<ng-container *ngIf="found; else notFound">
  <ng-container *ngIf="post$ | async as post; else noPost">
    {{ post | json }} {{ id }}
    <ng-container *ngIf="comments$ | async as comments; else noComments">
      {{ comments | json }}
      <button (click)="loadMoreComments()">Load more comments</button>
    </ng-container>
    <ng-template #noComments>
      No comments.
    </ng-template>
  </ng-container>
  <ng-template #noPost>
    {{ id }}
  </ng-template>
</ng-container>
<ng-template #notFound>
  Post not found!
</ng-template>
