<title>Colab learn - Objava</title>
<div class="d-flex flex-column w-100">
  <ng-container *ngIf="found; else notFound">
    <ng-container *ngIf="post$ | async as post; else noPost">
      <div style="background-color: #ececec;" class="p-3 pb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-grow-1" style="height: 70px;">
            <div
              class="d-flex h-100 flex-column justify-content-between align-items-center mr-2"
              style="flex-basis: 50px;"
            >
              <ng-container *ngIf="user$ | async as user; else noUser">
                <i
                  class="fa fa-chevron-up h5 m-0 pointer"
                  [class.text-success]="post.voteUp.includes(user.id)"
                  (click)="voteUp(post.id)"
                ></i>
              </ng-container>
              <ng-template #noUser>
                <i class="fa fa-chevron-up h5 m-0 pointer"></i>
              </ng-template>
              <div class="h5 m-0">
                {{ (changed || !changed) && reputation(post) }}
              </div>
              <ng-container *ngIf="user$ | async as user; else noUser">
                <i
                  class="fa fa-chevron-down h5 m-0 pointer"
                  [class.text-success]="post.voteDown.includes(user.id)"
                  (click)="voteDown(post.id)"
                ></i>
              </ng-container>
              <ng-template #noUser>
                <i class="fa fa-chevron-down h5 m-0 pointer"></i>
              </ng-template>
            </div>
            <div class="d-flex h-100" style="flex-basis: 70px;">
              <img
                src=""
                [src]="
                  post.user.profileImage
                    ? post.user.profileImage
                    : 'https://image.flaticon.com/icons/svg/61/61205.svg'
                "
                style="width: 100%;"
              />
            </div>
            <div
              class="d-flex h-100 flex-column justify-content-betweeen pl-4"
              style="flex-basis: 250px;"
            >
              <h5 class="flex-grow-1 m-0 d-flex align-items-center">
                {{ post.user.fullName }}
              </h5>
              <h5
                class="flex-grow-1 text-primary m-0 d-flex align-items-center"
              >
                {{ post.user.reputation }}
              </h5>
            </div>
          </div>
          <div class="flex-grow-0 d-flex align-items-center">
            <div
              class="d-flex w-100 h-100 justify-content-center align-items-center px-5 h3 border bg-dark text-white"
            >
              <span>{{ post.name }}</span>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <div class="d-flex">
            <h5>
              <span
                [routerLink]="['/search', tag]"
                class="badge badge-primary mr-2 pointer"
                *ngFor="let tag of post.tags"
                >{{ tag }}</span
              >
            </h5>
          </div>
          <div class="h-100 d-flex align-items-center h6">
            <span>Kreirano: {{ post.date | date: "dd/MM/yyyy HH:mm" }}</span>
          </div>
        </div>
      </div>
      <div
        class="d-flex justify-content-between align-items-center btn-group my-4"
      >
        <span class="h5 m-0 mr-3">Prikazi odgovore za:</span>
        <button
          [class.btn-primary]="item == selectedQuestionNumber"
          [class.btn-outline-primary]="item != selectedQuestionNumber"
          (click)="
            selectedQuestionNumber =
              item == selectedQuestionNumber ? null : item
          "
          class="flex-grow-1 btn rounded-0"
          *ngFor="let item of createRange(post.numberOfQuestions)"
        >
          <span>{{ item }}</span>
        </button>
      </div>

      <div
        *ngIf="
          (selectedQuestionNumber || !selectedQuestionNumber) &&
            filterComments(post.comments).length > 0 &&
            filterComments(post.comments) as comments;
          else noComments
        "
        class="border p-3"
      >
        <ng-container *ngFor="let comment of comments; let i = index">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-grow-1" style="height: 70px;">
              <div
                *ngIf="user$ | async as user"
                class="d-flex h-100 flex-column justify-content-between align-items-center mr-2"
                style="flex-basis: 50px;"
              >
                <ng-container *ngIf="user$ | async as user; else noUser">
                  <i
                    class="fa fa-chevron-up h5 m-0 pointer"
                    [class.text-success]="comment.voteUp.includes(user.id)"
                    (click)="voteUp(comment.id)"
                  ></i>
                </ng-container>
                <ng-template #noUser>
                  <i class="fa fa-chevron-up h5 m-0 pointer"></i>
                </ng-template>
                <div class="h5 m-0">
                  {{ (changed || !changed) && reputation(post) }}
                </div>
                <ng-container *ngIf="user$ | async as user; else noUser">
                  <i
                    class="fa fa-chevron-down h5 m-0 pointer"
                    [class.text-success]="comment.voteDown.includes(user.id)"
                    (click)="voteDown(comment.id)"
                  ></i>
                </ng-container>
                <ng-template #noUser>
                  <i class="fa fa-chevron-down h5 m-0 pointer"></i>
                </ng-template>
              </div>
              <div class="d-flex h-100" style="flex-basis: 70px;">
                <img
                  [src]="
                    comment.user.profileImage
                      ? comment.user.profileImage
                      : 'https://image.flaticon.com/icons/svg/61/61205.svg'
                  "
                  style="width: 100%;"
                />
              </div>
              <div
                class="d-flex h-100 flex-column justify-content-betweeen pl-4"
                style="flex-basis: 250px;"
              >
                <h5 class="flex-grow-1 m-0 d-flex align-items-center">
                  {{ comment.user.fullName }}
                </h5>
                <h5
                  class="flex-grow-1 text-primary m-0 d-flex align-items-center"
                >
                  {{ comment.user.reputation }}
                </h5>
              </div>
            </div>
            <div class="h-100 d-flex align-items-end h6">
              <span
                >Kreirano: {{ comment.date | date: "dd/MM/yyyy HH:mm" }}</span
              >
            </div>
          </div>
          <div
            class="d-flex justify-content-between mt-3"
            *ngIf="comment.tags && comment.tags.length > 0"
          >
            <div class="d-flex">
              <h5>
                <span
                  [routerLink]="['/search', tag]"
                  class="badge badge-primary mr-2 pointer"
                  *ngFor="let tag of comment.tags"
                  >{{ tag }}</span
                >
              </h5>
            </div>
            <ng-container *ngIf="user$ | async as user">
              <div
                *ngIf="user.id == comment.user.id || user.rank == 0"
                class="text-danger pointer"
                (click)="remove(comment.id)"
              >
                <i class="fa fa-times h5"></i>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
      <ng-template #noComments>
        No comments.
      </ng-template>
    </ng-container>
    <ng-template #noPost>
      {{ id }}
    </ng-template>
  </ng-container>
  <ng-template #notFound>
    Post not found!
  </ng-template>
</div>
