<form
  [formGroup]="registerForm"
  (submit)="registerForm.valid && submit($event)"
  class="mt-5 mx-5 px-5 d-flex flex-column justify-content-between"
>
  <span class="h5">Register</span>
  <label class="d-flex justify-content-start align-items-center mt-3">
    <span class="mr-3" style="width: 100px;">First name:</span>
    <input type="text" formControlName="firstName" class="form-control" />
  </label>

  <label class="d-flex justify-content-start align-items-center mt-3">
    <span class="mr-3" style="width: 100px;">Last name:</span>
    <input type="text" formControlName="lastName" class="form-control" />
  </label>

  <label class="d-flex justify-content-start align-items-center mt-3">
    <span class="mr-3" style="width: 100px;">Email:</span>
    <input type="text" formControlName="email" class="form-control" />
  </label>

  <label class="d-flex justify-content-start align-items-center mt-3">
    <span class="mr-3" style="width: 100px;">Username:</span>
    <input type="text" formControlName="username" class="form-control" />
  </label>

  <label class="d-flex justify-content-start align-items-center mt-3">
    <span class="mr-3" style="width: 100px;">Password:</span>
    <input type="password" formControlName="password" class="form-control" />
  </label>

  <button class="btn btn-primary" type="submit">Register</button>
</form>
